.btn {
  position: relative;
  display: inline-block;
  padding: 0.375rem 1rem;
  width: auto;
  color: #ffffff;
  border: 1px solid #0079c1;
  border-radius: 0;
  background-color: #0079c1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.05s linear;
  transition: all 0.05s linear;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.9375rem;
  line-height: 1.5;
}

.btn:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #005e95;
  border-color: #005e95;
}